<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">


    <title>The Garnets</title>
</head>

<body>
    <nav></nav>
    <h1>The Garnet Group</h1>
    <main>
        <div id="smallWithNames">

            <div><a href="garnets.component.html#almandine">Almandine</a></div>
            <div><a href="garnets.component.html#andradite">Andradite</a></div>
            <div><a href="garnets.component.html#calderite">Calderite</a></div>
            <div><a href="garnets.component.html#eringaite">Eringaite</a></div>
            <div><a href="garnets.component.html#goldmanite">Goldmanite</a></div>
            <div><a href="garnets.component.html#grossular">Grossular</a></div>
            <div><a href="garnets.component.html#henritemierite">Henritemierite</a></div>
            <div><a href="garnets.component.html#hibschite">Hibschite</a></div>
            <div><a href="garnets.component.html#holstamite">Holstamite</a></div>
            <div><a href="garnets.component.html#katoite">Katoite</a></div>
            <div><a href="garnets.component.html#kerimasite">Kerimasite</a></div>
            <div><a href="garnets.component.html#kimzeyite">Kimzeyite</a></div>
            <div><a href="garnets.component.html#knorringite">Knorringite</a></div>
            <div><a href="garnets.component.html#majorite">Majorite</a></div>
            <div><a href="garnets.component.html#momoiite">Momoiite</a></div>
            <div><a href="garnets.component.html#morimotoite">Morimotoite</a></div>
            <div><a href="garnets.component.html#pyrope">Pyrope</a></div>
            <div><a href="garnets.component.html#schorlomite">Schorlomite</a></div>
            <div><a href="garnets.component.html#spessartine">Spessartine</a></div>
            <div><a href='garnets.component.html#uvaroite'>Uvaroite</a></div>
        </div>
        <!-- closing smallWithNames div -->
        <div id="garnetDetails">
            <table id="bigWithDetails ">
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="almandine">Almandine</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Rhodolite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Fe<sup>2+</sup><sub></sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Red, Brownish to Black, Red-Violet</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td>Pegmatite, Granite, Contact-altered Siliceous, Biotite Schists, Amphibole Schists, Eclogites, Kimberlites & Peridotites, Various Basic Rocks</td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="andradite">Andradite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Polyadelphite, Melanite,
                      Topazolite, Demantoid
                    </em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Fe<sup>3+</sup><sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Yellow, Pink, Green, Brown to Black</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td>Various Basic Rocks, Calcareous Contact Rocks</td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="calderite">Calderite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Mn<sub>3</sub>Fe<sup>3+</sup><sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Brown</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="eringaite">Eringaite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Sc<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Transparent light Brown to Yellow</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="goldmanite">Goldmanite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>V<sup>3+</sup><sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Deep Green, Brownish Green</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="grossular">Grossular</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Colophonite, Hessonite, Landerite, Xalostocite, Rosolite, Tsavorite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Yellow, Orange to Red-Brown, Pink, Pale Green, Greenish Brown, Emerald Green, Greenish Blue</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td>Biotite Schists, Amphibole Schists, Eclogites, Kimberlites & Peridotites, Various Basic Rocks, Calcareous Contact Rocks</td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="henritemierite">Henritemierite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Mn<sup>2+</sup>(SiO<sub>4</sub>)<sub>2</sub>(OH)<sub>4</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Apricote-Brown, Orange</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="hibschite">Hibschite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Plazolite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3-x</sub>(OH)<sub>4x</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Pink, Red-Brown</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="holstamite">Holstamite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>(Al,Mn<sup>3+</sup>)<sup>2+</sup>(SiO<sub>4</sub>)<sub>3-x</sub>(OH)<sub>4x</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Pale Browish Yellow</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="katoite">Katoite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3-x</sub>(OH)<sub>4x</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Milky White</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="kerimasite">Kerimasite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Zr<sub>2</sub>(Fe<sup>3+</sup><sub>2</sub>Si)O<sub>12</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Dark Brown</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="kimzeyite">Kimzeyite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>(Zr, Ti)<sub>2</sub>(Si,Al,Fe<sup>3+</sup>)O<sub>12</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Dark Brown</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="knorringite">Knorringite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Mg<sub>3</sub>Cr<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Bue-Green</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="majorite">Majorite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Mg<sub>3</sub>(Fe<sup>3+</sup>,Al,Si)<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Purple</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="momoiite">Momoiite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Yamatoite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">(Mn<sup>2+</sup>,Ca)<sub>3</sub>V<sup>3+</sup><sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Green</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="morimotoite">Morimotoite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em></em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>TiFe<sup>2+</sup>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Black</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="pyrope">Pyrope</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Malaya, Rhodolite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Mg<sub>3</sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Red, Pale Pink, Greenish Violet to Purple, Purple</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td>Biotite Schists, Amphibole Schists, Eclogites, Kimberlites & Peridotites, Barious Basic Rocks</td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="schorlomite">Schorlomite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Livaarite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>(Ti<sup>4+</sup>,Fe<sup>3+</sup>)<sub>2</sub>(Si,Fe<sup>3+</sup>)<sub>3</sub>O<sub>12</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Dark Reddish Brown to Black</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id="spessartine">Spessartine</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Malyaya</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Mn<sup>2+</sup><sub>3</sub>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Orange, Browish-Red</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td>Pegmatite, Granite, Contact-Altered Siliceous</td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
                <br><br>
                <div>
                    <tr>
                        <th>Specimen Name</th>
                        <td class="name " id='uvaroite'>Uvaroite</td>
                    </tr>
                    <tr>
                        <th>Other Names</th>
                        <td><em>Hanleite</em></td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td class="formula ">Ca<sub>3</sub>Cr<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                    </tr>
                    <tr>
                        <th>Color Options</th>
                        <td>Dark Green</td>
                    </tr>
                    <tr>
                        <th>Found in Rock Types</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Photos</th>
                        <td>provide links</td>
                    </tr>
                </div>
            </table>
        </div>
    </main>

</body>

</html>
