<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">

    <title>The Garnets</title>
</head>

<body>
    <nav></nav>
    <h1>The Garnet Group</h1>
    <main>
        <table>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Almandine</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Rhodolite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">Fe<sup>2+3</sup>Al<sub>2</sub>(SiO<sub>4</sub>)<sub>3</sub></td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Red, Brownish to Black, Red-Violet</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Pegmatite, Granite, Contact-altered siliceous, Biotite schists, Amphibole schists, Eclogites, Kimberlites & peridotites, various basic rocks</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Andradite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Polyadelphite, Melanite,
                      Topazolite, Demantoid
                    </em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Calderite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Eringaite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Goldmanite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Grossular</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Colophonite, Hessonite, Landerite, Xalostocite, Rosolite, Tsavorite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Henritemierite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Hibschite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Plazolite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Holstamite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Katoite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Kerimasite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Kimzeyite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Knorringite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Majorite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Momoiite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Yamatoite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Morimotoite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em></em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Pyrope</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Malaya, Rhodolite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Schorlomite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Livaarite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Spessartine</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Malyaya</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
            <br><br>
            <div>
                <tr>
                    <th>Specimen Name</th>
                    <td class="name">Uvaroite</td>
                </tr>
                <tr>
                    <th>Other Names</th>
                    <td><em>Hanleite</em></td>
                </tr>
                <tr>
                    <th>Formula</th>
                    <td class="formula">SiO4</td>
                </tr>
                <tr>
                    <th>Color Options</th>
                    <td>Example</td>
                </tr>
                <tr>
                    <th>Found in Rock Types</th>
                    <td>Give types</td>
                </tr>
                <tr>
                    <th>Photos</th>
                    <td>provide links</td>
                </tr>
            </div>
        </table>

    </main>

</body>

</html>