body {
    font-family: 'Noto Sans TC', sans-serif;
}

div {
    border-spacing: 1rem;
}

th {
    color: darkblue
}

.name {
    font-weight: bold;
    text-decoration: underline;
}

// .formula {
//     font-family: 'Noto Sans TC', sans-serif;
// }